.footer-container
  display: flex
  padding-bottom: 32px

.footer__left-section
  margin-left: 66px

.footer__logo
  display: block
  width: 128px
  height: 23px
  margin-top: 21px
  margin-bottom: 52px
  background-image: url('./../../img/logo.svg')
  background-repeat: no-repeat
  
.footer__mastercard-icon
  display: inline-block
  width: 39px
  height: 25px
  margin-right: 20px
  background-image: url(./../../img/MC.svg)

.footer__visa-icon
  display: inline-block
  width: 39px
  height: 27px
  background-image: url(./../../img/VISA.svg)

.footer__middle-section
  display: flex
  flex-direction: column
  justify-content: flex-end
  width: 280px
  margin-left: 238px

.footer__right-section
  margin-left: auto
  margin-top: 6px
  margin-right: 68px

.footer__phone
  display: block
  margin-bottom: 8px
  text-align: center
  font-weight: normal
  font-size: 15px
  line-height: 17px
  color: #B3B3B3

.footer__copyright
  display: block
  text-align: center
  font-weight: normal
  font-size: 15px
  line-height: 17px
  color: #B3B3B3

.footer__social-list
  display: flex
  justify-content: space-around
  align-items: center
  width: 220px
  height: 35px
  margin: 0
  padding: 0
  list-style: none

.footer__social-item
  &--ru
    position: relative
    font-weight: normal
    font-size: 17px
    line-height: 18px
    &:after
      content: ''
      position: absolute
      top: 7px
      right: -15px
      width: 11px
      height: 6px
      background-image: url(./../../img/arrow.svg);

.footer__social-vk
  display: block
  width: 26px
  height: 16px
  background-image: url(./../../img/vk.svg);

.footer__social-facebook
  display: block
  width: 27px
  height: 26px
  background-image: url(./../../img/Facebook.svg);

.footer__social-instagram
  display: block
  width: 26px
  height: 26px
  background-image: url(./../../img/Instragram.svg);