.header-top
  display: flex
  margin-top: 40px
  margin-bottom: 38px

.header-top__logo
  display: block
  width: 128px
  height: 23px
  background-image: url('./../../img/logo.svg')
  background-repeat: no-repeat

.header-top__tel-text
  margin-left: 35px
  font-size: 14px
  line-height: 20px
  color: #B3B3B3

.header-top__tel
  margin-left: 4px
  font-family: Montserrat, "Arial", sans-serif
  font-size: 14px
  line-height: 20px
  color: #37373F