.map
  position: relative
  height: 509px
  margin-bottom: 127px

.meeting-info
  position: absolute
  top: 20px
  left: 188px
  width: 420px
  height: 469px
  padding-top: 50px
  padding-left: 28px
  background: #FFFFFF
  border: 1px solid #C7C7C7
  box-sizing: border-box

.meeting-info__list
  margin: 0
  padding: 0
  list-style: none

.meeting-info__item
  height: 61px
  margin-bottom: 33px

.meeting-info__number
  display: block
  float: left;
  width: 61px
  height: 61px
  margin-right: 19px
  padding-top: 6px
  font-weight: bold
  font-size: 35px
  line-height: 51px
  text-align: center
  color: #FFFFFF
  box-sizing: border-box
  border-radius: 50%
  background: #FC9B09

.meeting-info__text
  margin-top: 0
  margin-bottom: 5px
  padding-top: 5px
  font-weight: 500
  font-size: 20px
  line-height: 27px

.meeting-info__description
  margin: 0
  font-weight: normal
  font-size: 20px
  line-height: 26px

.meeting-info__item-author
  margin-top: 44px

.meeting-info__author-photo
  float: left
  margin-right: 10px

.meeting-info__author-text
  margin-top: 0
  margin-bottom: -3px
  font-weight: 500
  font-size: 21px
  line-height: 27px

.meeting-info__author-description
  margin: 0
  font-weight: normal
  font-size: 18px
  line-height: 26px

.meeting-info__author-link
  font-weight: 500
  font-size: 16px
  line-height: 21px
  color: #5286EC
  &:hover
    text-decoration: underline