.reviews
  margin-bottom: 70px

.reviews__header
  margin-top: 0
  margin-bottom: 59px
  font-style: normal
  font-weight: 500
  font-size: 22px
  line-height: 29px

.reviews__container
  position: relative
  width: 510px
  margin-bottom: 71px
  padding-left: 121px
  &:after
    content: ''
    position: absolute
    bottom: -30px
    left: 118px
    width: 510px
    border: 0.5px solid #C7C7C7

.reviews__img
  position: absolute
  top: -11px
  left: 0
  width: 101px
  height: 101px

.reviews__name
  margin-bottom: 9px
  font-weight: 500
  font-size: 20px
  line-height: 22px

.reviews__position
  display: block
  margin-bottom: 8px
  font-weight: normal
  font-size: 16px
  line-height: 21px

.reviews__stars-container
  margin-top: 3px
  margin-bottom: 15px

.reviews__text
  position: relative
  display: inline-block
  margin-left: 61px
  font-weight: normal
  font-size: 15px
  line-height: 21px
  color: #B3B3B3
  letter-spacing: 0.3px
  &:before
    content: ''
    position: absolute
    top: 0
    left: -22px
    width: 17px
    height: 15px
    background-image: url(./../../img/reviws-yes.svg);

.reviews__description
  margin: 0
  margin-bottom: 15px;
  font-weight: normal
  font-size: 18px
  line-height: 24px

.reviews__date
  display: block
  font-weight: normal;
  font-size: 15px
  line-height: 21px
  color: #B3B3B3

.reviews__show-all-button
  position: relative
  display: block
  margin: 0 auto
  font-weight: 500
  font-size: 19px
  line-height: 25px
  color: #5286EC
  border: none
  text-align: center
  background-color: transparent
  cursor: pointer
  &:before
    content: ''
    position: absolute
    top: 12px
    left: -15px
    width: 11px
    height: 6px
    background-image: url(./../../img/arrow.svg);
  &:after
    content: ''
    position: absolute
    top: 12px
    right: -13px
    width: 11px
    height: 6px
    background-image: url(./../../img/arrow.svg);
  &:hover
    text-decoration: underline